<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsHub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg   navbar-dark bg-primary set_margin">
        <a class="navbar-brand" href="#">NewsHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>




        </div>
        </li>

        </ul>


        </div>
    </nav>
    <div class="ask">
        <ul>
            <li>
                <form class="form-inline my-2 my-lg-0">
                    <input id="category" class="form-control mr-sm-2" type="search" placeholder="Enter Category"
                        aria-label="Search">
                </form>
            </li>

        </ul>
        <ul>
            <li>
                <form class="form-inline my-2 my-lg-0">
                    <input id="country" class="form-control mr-sm-2" type="search" placeholder="Enter country code"
                        aria-label="Search">
                </form>

            </li>
        </ul>
        <ul> <button id="submitBtn" class="btn btn-outline-success my-2 my-sm-0">Get News</button>
        </ul>
    </div>
    <div class="containers set_margin ">
        <div class="news_container data_hide">
            <h1 id="heading" class="heading">Welcome to NewsHub</h1>
            <img id="news_img" src="images/news.jpg" alt="">
            <p class="content" id="content">NewsHub is a collection of news from all over the world . <br> To get
                the
                lastest news enter Category(like sports,politics,music etc) and your alpha country code (like in for
                INDIA , br for BRAZIL) and click on Get News. <br> Enjoy !!</p>

            <h3 id="source" class="source">By Karan Joshi</h3>
            <a href="#" class="" id="official">Know more</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script src="js/main.js"></script>

</body>

</html>